html,
body {
  margin: 0;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 30px;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0px !important;
}

.MuiButton-root {
  border-radius: 30px !important;
}
