html,
body {
  margin: 0;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 30px;
  box-shadow: -2px 0px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0px !important;
}

.MuiButton-root {
  border-radius: 30px !important;
}

/* Change autocomplete color for inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
